body{
font-family:Arial;
margin:0;
padding:20px;
background:#f4f4f4;
}

header{
text-align:center;
margin-bottom:20px;
}

nav ul{
display:flex;
justify-content:center;
gap:25px;
list-style:none;
padding:0;
margin-top:10px;
}

nav li{
cursor:pointer;
position:relative;
}

nav li.active::after{
content:"";
position:absolute;
bottom:-5px;
left:0;
width:100%;
height:2px;
background:red;
}

.topBar{
display:flex;
justify-content:center;
gap:10px;
margin-bottom:20px;
}

#searchInput{
padding:8px;
width:200px;
}

#sortSelect{
padding:8px;
}

#productBox{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.card{
background:white;
padding:10px;
border-radius:8px;
text-align:center;
position:relative;
overflow:hidden;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

.card img{
width:100%;
height:200px;
object-fit:contain;
}

.price{
font-weight:bold;
}

.tag{
position:absolute;
top:10px;
left:10px;
padding:5px 10px;
font-size:12px;
border-radius:4px;
font-weight:bold;
}

.sale{
background:gold;
color:black;
}

.out{
background:silver;
color:black;
}

.hoverIcons{
position:absolute;
bottom:90px;
left:50%;
transform:translateX(-50%);
display:flex;
gap:15px;
opacity:0;
transition:0.3s;
}

.icon{
background:white;
padding:10px;
border-radius:50%;
font-size:18px;
cursor:pointer;
box-shadow:0 2px 6px rgba(0,0,0,0.2);
}

.card:hover .hoverIcons{
opacity:1;
}
