*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body, html{
    background:linear-gradient(120deg, #2b2b2b, #5a5a5a);
    font-family:Arial,Helvetica,sans-serif;
    padding:25px;
    height:100%;
    display:flex;
    flex-direction:column;
}

.topbar,
.bottombar,
.leftpanel,
.card{
    display:flex;
    align-items:center;
    justify-content:center;

    color:#ffffff;
    font-weight:900;
    font-size:38px;

    padding:35px;

    border-radius:10px;
    border:12px solid #000;

    letter-spacing:2px;
}

.topbar,
.bottombar{
    background:linear-gradient(135deg, #6d5dfc, #8f7bff);
    margin-bottom:25px;
}

.leftpanel{
    background:linear-gradient(
        180deg,
        #0fb9b1,
        #20c997,
        #5ffbf1
    );
}

.wrapper{
    display:grid;
    grid-template-columns:1fr 3fr;
    gap:25px;
    flex:1;
    margin-bottom:25px;
}

.grid-area{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:25px;
}

.card{
    background:linear-gradient(
        135deg,
        #4059f1,
        #4e73ff,
        #00d4ff
    );
    min-height:170px;
}

.card-main{
    grid-column:1 / -1;
}

@media (max-width:768px){
    .wrapper{
        grid-template-columns:1fr;
    }
}
