*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;

  background:#F6F3EB ;
}

.container{
  width:600px;
  max-width:95%;
}

h1{
  text-align:center;
  color:#555;
  margin-bottom:25px;
}

.faq-item{
  margin-bottom:14px;
  border-radius:12px;
  overflow:hidden;

  border:5px solid #8F7BFF;
}

.faq-head{
  background: linear-gradient(90deg,#d6c6ff,#cbb8ff);
  color:#333;

  padding:16px 22px;
  cursor:pointer;

  display:flex;
  justify-content:space-between;
  align-items:center;

  font-weight:700;
  font-size:18px;
}

.faq-head span{
  font-size:24px;
  font-weight:bold;
}

.faq-body{
  background:#ffffff;
  padding:16px 22px;
  display:none;
  color:#444;
  line-height:1.6;
}

.faq-item.active .faq-body{
  display:block;
}
